.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: opacity 0.6s ease-in-out;
}
.wrapperHidden {
  opacity: 0;
}
.title,
.titleEncrypted {
  font-family: var(--font-family-accent);
  text-transform: capitalize;
  font-size: 46px;
  color: var(--color-white);
}
.roundBtn {
  height: 69px;
  aspect-ratio: 1;
  margin: 0;
  padding: 0;
  font-size: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-white);
  transform: translateY(2px);
  transform: translateX(30px);
  cursor: pointer;
  opacity: 0;
  transition: color 0.2s ease, background-color 0.2s ease, opacity 0.6s ease,
    transform 0.6s ease-in-out;
}
.roundBtnPositioned {
  transform: translateX(0);
}
@media (hover: hover) {
  .roundBtn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
.loader {
  position: absolute;
  bottom: 40px;
  right: 80px;
}
