.wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 40px;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}
.mainWrapperVisible {
  opacity: 1;
}
.mainWrapperHidden {
  opacity: 0;
}
.title,
.titleEncrypted {
  font-family: var(--font-family-accent);
  text-transform: capitalize;
  font-size: 46px;
  color: var(--color-white);
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  transition: opacity 2.6s ease-in-out;
}
.infoWrapperVisible {
  opacity: 1;
}
.inputsTitle,
.label,
.timeRange {
  font-family: var(--font-family-regular);
  font-size: 32px;
  color: var(--color-white);
}
.onlyInputsWrapper {
  display: flex;
  gap: 80px;
}
.oneInputWrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 20px;
}
.input,
.submitBtn {
  font-family: var(--font-family-regular);
  color: var(--color-black);
  height: 32px;
  border: none;
  outline: none;
  border-radius: 2px;
  text-align: center;
}
.input {
  font-size: 30px;
  max-width: 80px;
}
.input:focus {
  border: none;
  outline: none;
}
.submitBtn {
  padding-inline: 20px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
@media (hover: hover) {
  .submitBtn:hover {
    transform: scale(1.02);
  }
}
.hidden {
  opacity: 0;
}
.shown {
  opacity: 1;
}
.loader {
  position: absolute;
  bottom: 40px;
  right: 80px;
}
